<% provide(:title, 'User List') %>
<h1><%= yield(:title) %></h1>

<table>
  <tr>
    <th>ID.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.name, backend_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td><%= link_to 'Show', backend_user_path(user) %></td>
    <td><%= link_to 'Edit', edit_backend_user_path(user) %></td>
    <% if current_user.admin? && !current_user?(user) %>
      <td><%= link_to 'Delete', backend_user_path(user),
                                 method: :delete,
                                 data: { confirm: 'Are you sure?' } %></td>
    <% end%>
  </tr>
<% end %>
</table>

<br />
<%= paginate @users %>
<%= link_to 'New User', new_backend_user_path %>
