<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @backend_user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @backend_user.email %>
</p>

<p>
  <b>Password digest:</b>
  <%= @backend_user.password_digest %>
</p>


<%= link_to 'Edit', edit_backend_user_path(@backend_user) %> |
<%= link_to 'Back', backend_users_path %>
