<% provide(:title, 'User Page') %>
<h1><%= @user.name %></h1>

<p>
  <b>ID:</b>
  <%= @user.id %>
</p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>
<p>
  <b>Updated at:</b>
  <%= @user.updated_at %>
</p>

<%= link_to 'Edit', edit_backend_user_path(@user) %> |
<%= link_to 'Back', backend_users_path %>
